body {
   font-family: 'Space Mono', monospace;
   font-family: 'Work Sans', sans-serif;
}

.container {
   max-width: 1280px;
   margin: 0 auto;
}

.container-m {
   max-width: 1400px;
   margin: 0 auto;
}

/*! Block-1 */
.main-page {
   background-color: #2B2B2B;
   padding: 20px 0 80px 0;
}

/* header */
.main-page__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.logo-link {
   display: flex;
   align-items: first baseline;
}

.logo-link__logo-shop {
   padding-right: 10px;
}

.navigation__btn {
   padding: 0px 20px;
   margin-right: 10px;
   border-radius: 20px;
   background-color: transparent;

   color: #FFF;
   text-align: center;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 600;
   line-height: 140%;

   cursor: pointer;
}

.navigation__btn-signup {
   padding: 20px 50px;
   border-radius: 20px;
   background-color: var(--Call-to-Action, #A259FF);

   color: #FFF;
   text-align: center;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 600;
   line-height: 140%;

   cursor: pointer;
   position: relative;
}

.btn-signup__text {
   padding-left: 10px;
}

.navigation__btn-signup::before {
   content: '';
   position: absolute;
   top: 20px;
   left: 38px;
   width: 20px;
   height: 20px;
   background-image: url('./img/User.svg');
   background-size: cover;
   background-position: center;
}

/* content */
.main-page__content {
   display: flex;
   justify-content: space-between;
}

.content__text {
   max-width: 510px;
   margin-right: 30px;
}

.text__title {
   color: var(--White, #FFF);
   font-family: Work Sans;
   font-size: 67px;
   font-weight: 600;
   line-height: 110%;
   text-transform: capitalize;
   margin-bottom: 10px;
}

.text__description {
   color: var(--White, #FFF);
   font-family: Work Sans;
   font-size: 22px;
   font-weight: 400;
   line-height: 160%;
   text-transform: capitalize;
   margin-bottom: 30px;
}

.text__btn-start {
   padding: 20px 50px;
   margin-bottom: 30px;
   align-items: center;
   border-radius: 20px;
   background: var(--Call-to-Action, #A259FF);

   color: #FFF;
   text-align: center;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 600;
   line-height: 140%;

   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.btn-start__text {
   padding-left: 10px;
}

.text__btn-start::before {
   content: '';
   position: absolute;
   top: 20px;
   left: 40px;
   width: 20px;
   height: 20px;

   background-image: url('./img/main-page-btn-rocket.svg');
   background-size: cover;
   background-position: center;
}

/* numbers */
.text__numbers {
   display: flex;
   justify-content: space-between;
}

.numbers-content__count {
   color: var(--White, #FFF);
   font-family: Space Mono;
   font-size: 28px;
   font-weight: 700;
   line-height: 140%;
   text-transform: capitalize;
}

.numbers-content__text {
   color: var(--White, #FFF);
   font-family: Work Sans;
   font-size: 23.99px;
   font-weight: 400;
   line-height: 160%;
   text-transform: capitalize;
}

/* img-block */

.main-page__img-block {
   background-color: #3B3B3B;
   align-self: center;
   border-radius: 20px;
}

.img-block__img-content {
   padding: 20px;
   padding-bottom: 30px;
}

.img-content__text {
   color: #FFF;
   font-family: Work Sans;
   font-size: 22px;
   font-weight: 600;
   line-height: 140%;
   text-transform: capitalize;
   align-self: stretch;
   margin-bottom: 20px;
}

.img-content__artist {
   position: relative;

   color: #FFF;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 140%;
   padding-left: 35px;
}

.img-content__artist::before {
   content: '';
   position: absolute;
   top: -5px;
   left: 0;
   width: 30px;
   height: 30px;
   background-image: url('./img/main-page-artist-avatar.png');
   background-size: cover;
   background-position: center;
}

/* Block-2 */

.trending-collection {
   background-color: #2B2B2B;
   padding: 80px 0 80px 0;
}

.info__title {
   color: var(--White, #FFF);
   font-family: Work Sans;
   font-size: 38px;
   font-weight: 600;
   line-height: 120%;
   text-transform: capitalize;
   margin-bottom: 10px;
}

.info__description {
   color: var(--White, #FFF);
   font-family: Work Sans;
   font-size: 22px;
   font-weight: 400;
   line-height: 160%;
   text-transform: capitalize;
   margin-bottom: 60px;
}

/* grid */

.trending-collection__grid-container {
   display: grid;
   height: 100%;
   grid-template-columns: repeat(9, 1fr);
   grid-template-rows: repeat(4, minmax(auto, 1fr 0.5fr));
  gap: 30px;
}

.grid-img-main,
.grid-img-left,
.grid-img-center {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* main-pic */

.grid-cards__first {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}

.grid-cards__second {
   grid-column-start: 4;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 3;

}

.grid-cards__third {
   grid-column-start: 7;
   grid-column-end: 10;
   grid-row-start: 1;
   grid-row-end: 3;
}

/* left-pic */

.firs-left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
}

.second-left {
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 4;
}

.third-left {
   grid-column-start: 7;
   grid-column-end: 8;
   grid-row-start: 3;
   grid-row-end: 4;
}

/* center-pic */
.first-center {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
}

.second-center {
   grid-column-start: 5;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 4;
}

.third-center {
   grid-column-start: 8;
   grid-column-end: 9;
   grid-row-start: 3;
   grid-row-end: 4;
}

/* right */

.grid-cards__first-text {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   background-color: #A259FF;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid-cards__second-text {
   grid-column-start: 6;
   grid-column-end: 7;
   grid-row-start: 3;
   grid-row-end: 4;
   background-color: #A259FF;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid-cards__third-text {
   grid-column-start: 9;
   grid-column-end: 10;
   grid-row-start: 3;
   grid-row-end: 4;
   background-color: #A259FF;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.first-text__numbers,
.second-text__numbers,
.third-text__numbers {
   color: #FFF;
   font-family: Space Mono;
   font-size: 22px;
   font-weight: 700;
   line-height: 160%;
   text-transform: capitalize;
}

/* information */
.grid-cards__information-first {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 4;
   grid-row-end: 5;
}

.grid-cards__information-second {
   grid-column-start: 4;
   grid-column-end: 7;
   grid-row-start: 4;
   grid-row-end: 5;
}

.grid-cards__information-third {
   grid-column-start: 7;
   grid-column-end: 10;
   grid-row-start: 4;
   grid-row-end: 5;
}

.information-first__grid-title,
.information-second__grid-title,
.information-third__grid-title {

   color: #FFF;
   font-family: Work Sans;
   font-size: 22px;
   font-weight: 600;
   line-height: 140%;
   text-transform: capitalize;
   margin-bottom: 20px;
}

.information-first__artist-name,
.information-second__artist-name,
.information-third__artist-name {
   color: #FFF;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 140%;
   position: relative;
   padding-left: 40px;
}

.information-first__artist-name::before {
   content: '';
   position: absolute;
   top: -5px;
   left: 0;
   width: 30px;
   height: 30px;
   background-image: url('./img/first-artist.png');
   background-size: cover;
   background-position: center;
}

.information-second__artist-name::before {
   content: '';
   position: absolute;
   top: -5px;
   left: 0;
   width: 30px;
   height: 30px;
   background-image: url('./img/second-artist.png');
   background-size: cover;
   background-position: center;
}

.information-third__artist-name::before {
   content: '';
   position: absolute;
   top: -5px;
   left: 0;
   width: 30px;
   height: 30px;
   background-image: url('./img/third-artist.png');
   background-size: cover;
   background-position: center;
}