body {
   font-family: 'Roboto', sans-serif;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

a:visited {
   color: #19191C;
}

/* WRAPPER */
/* !nav-main*/
.navigation {
   position: sticky;
   top: 0;
   padding: 10px;
   background: #EEEFF1;
}

.list-item {
   display: inline-block;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   text-transform: uppercase;
   margin-right: 50px;
}

.link {
   font-size: 16px;
   font-weight: 500;
   line-height: 164.063%;
   letter-spacing: 1.6px;
   text-transform: uppercase;
}
.nav-link-home {
   color: #34547A;
   margin-right: 40px;
   position: relative;
}

.nav-link {
   color: #000;
}

/* !pictures */

.nav-link-home::after{
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   position: absolute;
   right: -20px;
   top: -2px;
   background-image: url(./img/home.svg);
   background-size: 100%;
   background-repeat: no-repeat;
}
.author-n, .work-n, .process-n, .contacts-n{
   position: relative;
}
.author-n::after{
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   position: absolute;
   right: -26px;
   top: -2px;
   background-image: url(./img/author.svg);
   background-size: 100%;
   background-repeat: no-repeat;
}
.work-n::after{
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   position: absolute;
   right: -26px;
   top: -2px;
   background-image: url(./img/repo.svg);
   background-size: 100%;
   background-repeat: no-repeat;
}
.process-n::after{
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   position: absolute;
   right: -26px;
   top: -2px;
   background-image: url(./img/glass.svg);
   background-size: 100%;
   background-repeat: no-repeat;
}
.contacts-n::after{
   content: "";
   display: inline-block;
   height: 20px;
   width: 20px;
   position: absolute;
   right: -26px;
   top: -2px;
   background-image: url(./img/contacts.svg);
   background-size: 100%;
   background-repeat: no-repeat;
}
/* BLOCK 1 */
.b-first {
   background-color: #EEEFF1;
}

/* !main-b1*/
.main {
   box-sizing: border-box;
   width: 540px;
   padding: 130px 0 160px 0;
}

.main-title {
   color: #000;
   font-size: 48px;
   font-weight: 500;
   line-height: 164.063%;
   margin-bottom: 60px;
}

.main-text {
   color: #727272;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   margin-bottom: 100px;
}

.btn {
   background: #34547A;
   color: #FFF;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   letter-spacing: 1.6px;
   border: none;
   cursor: pointer;
   padding: 20px 40px 20px 40px;
}

.btn:hover {
   padding: 30px 50px 30px 50px;
   margin-top: -20px;
   background-color: #4570a6;
}

/* BLOCK 2 */

.block-second {
   background: #F9F9F9;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-me {
   text-align: center;
   box-sizing: border-box;
   width: 540px;
   margin-top: 112px;
}

.title-about {
   color: #000;
   font-size: 32px;
   font-weight: 500;
   line-height: normal;
   margin-bottom: 50px;

}

.text-about {
   color: #727272;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   margin-bottom: 100px;
}

/* BLOCK 3 */
.block-third {
   background: #34547A;
   padding: 100px 0 100px 0;
}

.cards-item {
   display: inline-block;
   margin-left: 40px;
}

.img-texts {
   display: inline-block;
}

.img-title {
   color: #FFF;
   font-size: 21px;
   font-weight: 500;
   line-height: normal;
}

.img-projects {
   color: #FFF;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   margin-right: 45px;
}

/* BLOCK 4 */
.b-fourth {
   background: #EEEFF1;
   padding-top: 90px;
}

.do-work {
   text-align: center;
   box-sizing: border-box;
   justify-content: center;
}

.title-work {
   color: #000;
   font-size: 32px;
   font-weight: 500;
   line-height: normal;
   margin-bottom: 20px;
}

.work-text {
   color: #727272;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   max-width: 540px;
   margin: 0 auto;
   margin-bottom: 30px;
}

.video {
   text-align: center;
   margin-bottom: 50px;
}

/* BLOCK 5 */
.last-block {
   justify-content: center;
   background: #34547A;
   margin-top: -50px;
   padding: 50px 0 20px 0;
}

.name {
   color: #FFF;
   font-size: 21px;
   font-weight: 500;
   line-height: normal;
  margin-bottom: 20px;
}

.text-last {
   color: #FFF;
   font-size: 13px;
   font-weight: 400;
   line-height: 164.063%;
}